:root {
  /* colors */
  --color-bg: #ebf0f2;
  --color-primary: #94a2a6;
  --color-secondary-text: #2c3740;
  --color-text: #080a0d;
  --color-ligt-bg: #d0d8d9;

  /* responsive */
  --container-width-large: 75%;
  --container-width-medium: 86%;
  --container-width-small: 93%;
  /* transition */
  --transition: all 400ms ease;
}
.container_services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5rem;
}
.service_head {
  border-radius: 2rem 2rem 0 0;
  margin-bottom: -2.5rem;
  padding: 1.5rem;
  background: var(--color-ligt-bg);
  transition: var(--transition);
}
.service_list {
  background: var(--color-primary);
  border-radius: 0 0 2rem 2rem;
  padding: 3rem;
  transition: var(--transition);
}
.service:hover .service_head {
  background: var(--color-primary);
  box-shadow: 0 18px 42px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  color: var(--color-bg);
}
.service:hover .service_list {
  box-shadow: 0 18px 42px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  color: var(--color-secondary-text);
  background: var(--color-ligt-bg);
  border-radius: 2rem;
}
#services h2 {
  font-size: 2rem;
}
.service_head h3 {
  font-size: 1.45rem;
  text-align: center;
  margin-bottom: 2rem;
}

/* ========== Media Queries (medium devices) / Tablets Starts  ========== */
@media screen and (max-width: 1024px) {
  .container_services {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    /* max-width: 20rem; */
  }
}
/* ========== Media Queries (medium devices) / Tablets Ends  ========== */

/* ========== Media Queries (small devices) / Phones Starts  ========== */

@media screen and (max-width: 600px) {
  .container_services {
    grid-template-columns: 1fr;
    gap: 2rem;
    max-width: 23rem;
  }
}
