:root {
  /* colors */
  --color-bg: #ebf0f2;
  --color-primary: #94a2a6;
  --color-secondary-text: #2c3740;
  --color-text: #080a0d;
  --color-ligt-bg: #d0d8d9;

  /* responsive */
  --container-width-large: 75%;
  --container-width-medium: 86%;
  --container-width-small: 93%;
  /* transition */
  --transition: all 400ms ease;
}
.experience_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  color: var(--color-bg);
}
.experience_container > div {
  background: var(--color-primary);
  padding: 2.5rem 5rem;
  border: 2px solid transparent;
  border-radius: 2rem;
  cursor: default;
  transition: var(--transition);
}
.experience_container > div:hover {
  border: 2px solid var(--color-primary);
  background: transparent;
  color: #080a0d;
}
.experience_container > div h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2.5rem;
}
.experience_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}
.experience_detail {
  display: flex;
}
.experience_details_icon {
  margin-top: 0.25rem;
  margin-right: 0.5rem;
}

/* ========== Media Queries (medium devices) / Tablets Starts  ========== */
@media screen and (max-width: 1024px) {
  .experience_container {
    display: flex;
    flex-direction: column;
  }
  .experience_content {
    margin-left: 2rem;
    column-gap: 6rem;
  }
}
/* ========== Media Queries (medium devices) / Tablets Ends  ========== */

/* ========== Media Queries (small devices) / Phones Starts  ========== */

@media screen and (max-width: 600px) {
  .experience_container {
    width: 80%;
  }
  .experience_content {
    margin-left: 0rem;
  }
  .experience_content {
    /* column-gap: 3rem; */
    display: flex;
    flex-direction: column;
  }
}

/* ========== Media Queries (small devices) / Phones Ends  ========== */
